* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f5f1e6;
  color: #3b2f2f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #3b2f2f;
  color: #f5f1e6;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #f5f1e6;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
              url(../img/Cuplikan\ Layar_2026-01-12_09-35-52.png) center/cover;
  display: flex;
  align-items: center;
  padding: 40px;
}

.hero-text {
  color: burlywood;
  font-size: 15px;
  max-width: 500px;
}

.hero-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: burlywood;
  background-color: #3b2f2f59;
  border-radius: 10px;
}

.hero-text button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #c49b63;
  color: #fff;
  cursor: pointer;
}

.menu {
  padding: 60px 40px;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-5px);
}

.about, .contact {
  padding: 60px 40px;
  text-align: center;
}

footer {
  background: #3b2f2f;
  color: #f5f1e6;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
